body {
    background-color: bisque;
}

.gallery-container {
    max-width: 1600px;
    margin: auto;
}

#featured {
    width: 100%;
    height: 100%;
    object-fit: cover; /*Keeps aspect ratio clean*/
    border-bottom: 5px solid #fff;
}

.thumbnail-wrapper {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thumbnail {
    width: 25% ; /* Shows 4 images per row */
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

.thumbnail:hover, .thumbnail.active {
    opacity: 1;
    outline: 2px solid #007bff;
}