#parent {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.linea-alumnos {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.alumno {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
}

.dato-alumno-individual {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.dato-alumno-etiqueta, 
.dato-alumno-valor {
    display: inline-block;
    margin: 2px 0;
}

.dato-alumno-etiqueta {
    font-weight: bold;
    color: red;
    clear: both;
    margin-right: 5px;
}
