body {
    background-color: rgb(245, 240, 255);
}

#image-visor {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 1500px;
    margin: 0 auto;
}

#photoContainer {
    display: flex;
    flex-direction: column; /* Alinea los hijos (foto y punto) en vertical */
    align-items: center;    /* Centra ambos horizontalmente */
    gap: 8px;
}

#arrowL {
    cursor: pointer;
    width: 30px;
    order: -1;
}

#arrowR {
    cursor: pointer;
    width: 30px;
    order: 1;
}

.miniature {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.dotEmpty, .dotFull{
    width: 16px;
    height: 16px;
    object-fit: contain;
}

#dotsContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

#photoContainer {
    position: relative;
}

#textContainer {
    position: absolute;
    bottom: 50px;
    width: 100%;
    background-color: rgba(95, 158, 160, 0.75);
    color: white;
    text-align: center;
    padding: 5px 0;
}
